@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

* {
  box-sizing:border -box;
}

body {
  font-family:"Mukta", sans-serif;
  background-color: #FFC857;
  text-align:center;
  margin:0;
}

form {
  background-color: #481D24;
  color:#fff;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
  border-radius:2px;
  padding: 30px 20px;
  max-width: 500px;
  margin:40px auto;  
}

header {
  background-color: #255F85;
  width:auto;
  margin-top:0;
}

header::after {
  height:100vh;
}

h1 {
  margin-bottom:0px;
}

h1 + p {
  margin-top:0px;
}

.form-control {
  text-align: left;
  margin:20px;
}

.form-control label {
  display:block;
  margin-bottom:10px;
}

.form-control input , .form-control select,
.form-control textarea {
  border: 1.5px solid #777;
  display:block;
  width:100%;
  padding:10px;
  border-radius:2px;
  font-family:inherit;
}

.form-control input[type="radio"], .form-control input[type="checkbox"] {
  width:auto; 
  display:inline-block; 
}

button {
  background-color: #FFC857;
  padding:10px;
  border: 1px solid #FFC857;
  border-radius: 2px;
  font-family:inherit;
  font-size:20px;
  justify-content: center;
}